* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    background: #FFFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 1450px;
    max-width: 95vw;
    height: 750px;
    background-color: #F3F4F6;
    border-radius: 32px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.04);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px 0 48px 30px;
    height: 100%;
    margin-right: -170px;
    z-index: 2;
}

#eyebrow {
    color: #263FA9;
    font-size: 1rem;
    margin-bottom: 12px;
}

.head h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 18px;
}

#subtext {
    color: #394150;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: auto;
    line-height: 1.4;
}

.head a {
    color: #394150;
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s;
    display: flex;
    align-items: end;
}

.head svg {
    margin-left: 5px;
}

.head a:hover {
    color: #3B5CCC;
}

#decor {
    position: absolute;
    z-index: 1;
    transform: scale(1.07);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 24px;
    color: #FFFEFE;
    overflow: hidden;
}

.card:nth-child(1) {
    background-color: #C1B6F8;
    grid-column: 2;
}

.card:nth-child(2) {
    background-color: #EDACD2;
    grid-column: 3;
    border-radius: 0 32px 0 0;
}

.card:nth-child(3) {
    background-color: #9DC4F8;
}

.card:nth-child(4) {
    background-color: #F8D8B0;
}

.card:nth-child(5) {
    background-color: #86E7D4;
    border-radius: 0 0 32px 0;
}

.card img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card .meta {
    position: relative;
    z-index: 3;
}

.card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 2px;
}

.card .role {
    font-size: 1rem;
    font-weight: 400;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
}


@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .cards-container {
        grid-column: 1 / span 3;
        grid-row: 2 / span 2;
        width: 100%;
    }

    .card:nth-child(1) {
        grid-column: 1;
        z-index: 1;
    }

    .card:nth-child(2) {
        grid-column: 2;
        border-radius: 0;
        z-index: 1;
    }

    .card:nth-child(4) {
        grid-column: 2;
    }

    .head {
        height: 264%;
    }

    .card h3 {
        font-size: 1rem;
    }

    .card .role {
        font-size: 0.8rem;
    }

    #subtext {
        width: 80%;
    }
}

@media (max-width: 600px) {
    section {
        height: auto;
        min-height: 100vh;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .head {
        width: 100%;
    }

    .head a {
        position: absolute;
        left: 30px;
        bottom: 48px;
    }

    .cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .card {
        aspect-ratio: 3 / 3;
    }

    .card:nth-child(5) {
        border-radius: 0;
        margin-bottom: 400px;
    }
}